*{
    font-family: Gotham-light, sans-serif;
}

.about {
    background-image: url('../../assets/images/about.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 10vw;
    top: 0;
    animation: fade 1s;
    animation-timeline: calc();
}

.title-about{
    max-width: 500px;
    max-height: 700px;
    padding-top: 14vh;
    position: absolute;
    animation: fade 1s;
    animation-timeline: calc();
}

.desc {
    margin-top: 15px;
    font-size: 18px;
    margin-top: 20px;
    color: white;
    font-family: Gotham-light, sans-serif;
    max-width: 500px;
    line-height: 35px;
    margin-bottom: 35px;
}

.guide-content{
    margin-left: 8%;
    margin-right: 8%;
}

.about-child{

    position: static;
    z-index: 5;
    top: 0;
    margin-top: 80vh;
}

.guide-text {
    font-size: 22px;
}

.guide{
    padding-top: 15vw;
}

.guide-2-text{
    line-height: 2;
}

.your-guide{
    margin-bottom: 0;
}

.reveal-about{
    opacity: 0;
}

.active-about {
    animation: fades 1s;
    animation-timeline: calc();
    opacity: 1;
}

.loc-text{
    margin-bottom: 2vw;
}

.carousel-text{
    margin-top: 32px;
    font-size: 16px;
    line-height: 2;
}

.carousel{
    cursor: grab;
    overflow-x: hidden;
    max-width: 100vw;
    margin-left: 20vw;
}

.inner-carousel{
    display: flex;
}

.item{
    pointer-events: none;
}

@media screen and (max-width: 479px){

} 

@media screen and (max-width: 767px){
    .desc{
        max-width: 400px;
    }

    .guide-2-text{
        line-height: 2.6;
    }

    .carousel-text{
        line-height: 2.6;
        max-width: 130px;
    }

    .btn-talk{
        bottom: -550%;
    }
}

.slider-container{
    margin-left: 20vw;
    padding-left: '0'; 
    padding: '-10vw';
    height: auto;
    max-height: 900px;
    margin-bottom: 16vw;
}

@keyframes fades {
    from{
        opacity: 0;
        transform: translateY(70px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 991px){
    .guide-text {
        font-size: 19px;
    }

    .about-child{
        margin-left: 9.5%;
        margin-right: 9.5%;
    }

    .guide{
        padding-top: 30vw;
    }

    .your-guide{
        margin-bottom: 4vw;
    }

    .btn-talk{
        float: none;
        margin-top: 0;
        position: relative;
        top: auto;
        bottom: -500%;
        right: auto;
    }

    .loc-text{
        margin-bottom: 6vw;
    }

    .slider-container{
        margin-left: 5vw;
        padding: '-10vw';
        height: auto;
        max-height: 1100px;
    }

}