*{
    font-family: Gotham-light, sans-serif;
}

.content {
    padding: 0 8vw 0 8vw;
    justify-content: space-between;
    display: flex;
    transition: 1s ease-in-out;
}

.drive-img{
    opacity: 0;
}


.sgg {
    width: 24vw;
    height: 38vw;
    max-height: 800px;
    max-width: 480px;
    object-fit: cover;
    margin-left: 0;
    padding-left: 0;
}

.perfume {
    position: absolute;
    width: 30vw;
    height: 20vw;
    max-height: 900px;
    max-width: 520px;
    object-fit: contain;
    margin-top: 12vw;
    margin-left: 9vw;
    padding-left: 0;
    z-index: 500;
}

.car {
    width: 24vw;
    height: 38vw;
    max-height: 800px;
    max-width: 480px;
    object-fit: cover;
    margin-left: 0;
    padding-left: 0;
}

.books {
    position: absolute;
    width: 30vw;
    height: 20vw;
    max-height: 900px;
    max-width: 520px;
    object-fit: contain;
    margin-top: 11.5vw;
    margin-right: 6.8vw;
    padding-left: 0;
    z-index: 500;
}

.box{
    max-width: 1000px;
    width: 88%;
}

.drive-text{
    width: 50%;
    max-width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.captivate{
    width: 50%;
    animation: fades 1s;
    animation-timeline: view();
}

.box{
    object-fit: contain;
}

.captivate-text{
    font-size: 34px;
}

.ensure-text {
    max-width: 600px;
}

.ensure-img{
    justify-content: end;
    width: 50%;
    opacity: 0;
}

.work-img{
    width: 100%;
    height: 34vw;
    object-fit: cover;
}

.work-card{
    opacity: 0;
}

.work{
    grid-column-gap: 40px;
    grid-row-gap: 14px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.text{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.meeting {
    opacity: 0;
}

.meet-text{
    opacity: 0;
}

.active {
    animation: fades 1.5s;
    animation-timeline: calc();
    opacity: 1;
}


@media screen and (max-width: 479px){
    .drive {
        width: 54vw;
    }
    
    .work{
        grid-template-columns: 1fr;
    }
} 

@media screen and (max-width: 767px){
    .drive {
        padding-top: 25vw;
        padding-left: 3vw;
    }

    .captivate {
        width: 100%;
    }

    .captivate-text{
        font-size: 28px;
    }

    .work{
        grid-template-columns: 1fr;
        height: auto;
    }
}

@keyframes fades {
    from{
        opacity: 0;
        transform: translateY(70px);
    }

    to{
        opacity: 1;
        transform: translateY(none);
    }
}

@media screen and (max-width: 991px){
    .sgg {
        width: 40vw;
        height: 60vw;
        padding-left: 5vw;
    }
    
    .perfume{
        margin-top: 20vw;
        margin-left: 10vw;
        width: 45vw;
        height: 23vw;
        
    }

    .drive-text{
        width: 90%;
        margin-bottom: 18vw;
    }

    .box {
        width: 88%;
    }
    .captivate {
        width: 100%;
        margin-bottom: 10vw;
    }

    .drive-img{
        margin-bottom: 10vw;
    }

    .ensure-img{
        width: 100%;
        padding-right: 12vw;
        margin-bottom: 10vw;
    }

    .car {
        width: 38vw;
        height: 60vw;
    }

    .books{
        margin-top: 25vw;
        margin-right: 11vw;
        width: 50vw;
        height: 26vw;
    }

    .work{
        grid-template-columns: 1fr 1fr;
    }

    .text{
        height: auto;
    }

    .work-img{
        height: auto;
    }
}