*{
    font-family: Gotham-light, sans-serif;
}

.home {
    background-image: url('./assets/images/dashboard.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 10vw;
    display: flex;
    align-items: center;
    top: 0;
}

/* transform: translate3d(0px, 0px, 0px) */

.nav{
    padding: 30px 38px 30px 80px;
    position: sticky;
    top: 0;
}

nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: 0.5s;
    transform: translateX(-100vw);
    z-index: 800;
    visibility: hidden;
}

.responsive_nav{
    transform: none;
    visibility: visible;

    .toggle {
        opacity: 0.5;
        transition: 0.7s ease-in-out;
    }
}

.change{
    animation: rotate 0.3s;
    animation-timeline: calc();
}

.selected-nav{
    color: white;
    opacity: 1;
}

.menu {
    padding: 90px;
    padding-top: 18vh;
    margin-top: -90px;
    background-color: rgb(27, 25, 27);
}

.toggle {
    opacity: 0;
    font-size: 3.5vh;
    margin-bottom: 5px;
    font-family: Gotham-light, sans-serif;
}

.startproject {
    font-size: 2vh;
    font-family: Gotham-light, sans-serif;
}

.toggle:hover {
    opacity: 1;
    transition: 0.2s ease-out;
}

.title{
    max-width: 500px;
    max-height: 700px;
    margin-top: 28px;
    animation: fade 1s;
    animation-timeline: calc();
}

.title-home{
    font-size: 70px;
    font-family: Gotham-bold, sans-serif;
}

.h1{
    font-size: 70px;
    font-family: Gotham-bold, sans-serif;
}

.desc {
    font-size: 18px;
    margin-top: 20px;
    color: white;
    font-family: Gotham-light, sans-serif;
    max-width: 500px;
    line-height: 35px;
    margin-bottom: 50px;
}

.footer{
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 14px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 3fr;
    grid-auto-columns: 1fr;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-top: 70px;
    padding-bottom: 37px;
    align-items: center;
}

.footer-contact{
    display: flex;
    align-items: center;
}

.logs{
    display: flex;
    justify-content: end;
}

.btn-top {
    margin-left: 42px;
    margin-top: 1px;
}

.f-logo{
    margin-left: 36px;
}

@media screen and (max-width: 991px){
    .footer{
        grid-template-columns: 2fr 2fr 1fr;
        grid-column-gap: 20px;
    }
    
    .nav{
        position: fixed;
        width: 100vw;
    }

    .menu{
        height: 100vh;
        margin-top: 0;
    }
}

@media screen and (max-width: 767px){
    .toggle {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .startproject {
        font-size: 18px;
    }

    .menu {
        padding: 30px;
        padding-top: 135px;
    }

    .nav{
        padding: 30px 40px 30px 30px;
    }
    
    .h1{
        font-size: 60px;
    }

    .desc{
        max-width: 400px;
    }

    .footer{
        grid-template-columns: 2fr 1fr 2fr;
    }

    .footer-contact{
        justify-content: end;
    }
    
    .title-home{
        font-size: 60px;
    }
    
}

@media screen and (max-width: 479px) {
    .title-home{
        font-size: 50px;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .logs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-top {
        margin-left: 0;
        margin-top: 0;
    }

    .f-logo{
        margin-left: 0;
        margin-bottom: 20px;
    }
}



@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(70px);
    }

    to{
        opacity: 1;
        transform: translateY(none);
    }
}

@keyframes rotate {
    to{
        transform: rotate(180deg);
    }
}