*{
    font-family: Gotham-light, sans-serif;
}

body {
    scroll-behavior: smooth;
}

html{
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.work-section{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.ryde {
    background-image: url('../../assets/images/ryde.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 10vw;
    padding-top: 28vh;
    top: 0;
    animation: fades-work 1s;
    animation-timeline: calc();
}

.title{
    max-width: 550px;
    max-height: 700px;
    margin-top: 31px;
}

.desc {
    margin-top: 15px;
    font-size: 18px;
    margin-top: 20px;
    color: white;
    font-family: Gotham-light, sans-serif;
    max-width: 515px;
    line-height: 35px;
    margin-bottom: 42px;
}

.dash {
    background-image: url('../../assets/images/dash.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding: 10vw;
    padding-top: 28vh;
    background-color: #c3d5fa;
    height: 100vh;
}

.ada {
    background-image: url('../../assets/images/ada.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 10vw;
    padding-top: 28vh;
    background-color: black;
}

.espy {
    background-image: url('../../assets/images/espy.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 10vw;
    padding-top: 28vh;
    background-color: black;
    position: static;
}

.reveal{
    opacity: 0;
    animation-delay: 0.5s;
}

.active {
    animation: fades-work 1s;
    animation-timeline: calc();
    opacity: 1;
}

.navbar-anim{
    animation: navbar-fade 1s;
    animation-timeline: calc();
}

@keyframes fades-work {
    from{
        opacity: 0;
        transform: translateY(60px);
        height: 110vh;
    }

    to{
        opacity: 1;
        transform: translateY(0px);
        height: 100vh;
    }
}
